.listItem {
  padding: 5px 0;
}

.wrapper {
  margin: 2px 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  composes: button from '../ContactForm/ContactForm.module.css';
  width: 30px;
  padding: 0px;
  color: white;
  background-color: #eb5a46;
}

.btn:hover {
  background-color: rgba(255, 78, 55, 0.979);
}
