.link {
  padding: 20px 0;
  color: #ffffff;
  font-size: 20px;
}

.link:hover {
  background-color: #2581dc;
}

.active {
  font-weight: 700;
}

.list {
  display: flex;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
