html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

header {
  flex: 0 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  padding: 15px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
